##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2018 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
#

#This section should have your device name. eg: If device name is RDKB-GW then the below section name and file name needs to be RDKB-GW.config
[sampleDevice.config]

#Setup type can be TDK/WEBPA.
SETUP_TYPE = TDK

################################# 2.4GHZ WIFI DETAILS ######################################

#Unique WIFI 2.4GHZ SSID Name
SSID_2GHZ_NAME = WIFI-2.4

#WIFI 2.4GHZ SSID password
SSID_2GHZ_PWD = wifitest123

#WIFI 2.4GHZ SSID Invalid password
SSID_2GHZ_INVALID_PWD = mywifipassword

#TDK WIFI 2.4GHZ SSID index. Index will be 1 for TDK and 10001 for WEBPA
TDK_SSID_2GHZ_INDEX = 1

#TDK WIFI 2.4GHZ Radio index. Index will be 1 for TDK and 10000 for WEBPA
TDK_RADIO_2GHZ_INDEX = 1

#WIFI connection status log. wlan0 should be replaced by your wifi interface name
WLAN_2GHZ_SSID_CONNECT_STATUS = Device 'wlan0' successfully activated

#WIFI disconnection status log. wlan0 should be replaced by your wifi interface name
WLAN_2GHZ_SSID_DISCONNECT_STATUS = Device 'wlan0' successfully disconnected

#Pre-shared key of the access point
AP_2GHZ_PRESHARED_KEY = factor3079event

#Key passphrase of the access point
AP_2GHZ_KEY_PASSPHRASE = factor3079event

#Security mode of the accesspoint
#WIFI_SECURITY_NONE = 0,WIFI_SECURITY_WEP_64 = 1,WIFI_SECURITY_WEP_128 = 2,WIFI_SECURITY_WPA_PSK_TKIP = 3,WIFI_SECURITY_WPA_PSK_AES = 4,WIFI_SECURITY_WPA2_PSK_TKIP = 5,WIFI_SECURITY_WPA2_PSK_AES = 6,WIFI_SECURITY_WPA_ENTERPRISE_TKIP = 7,WIFI_SECURITY_WPA_ENTERPRISE_AES = 8,WIFI_SECURITY_WPA2_ENTERPRISE_TKIP = 9,WIFI_SECURITY_WPA2_ENTERPRISE_AES = 10,WIFI_SECURITY_WPA_WPA2_PSK = 11,WIFI_SECURITY_WPA_WPA2_ENTERPRISE = 12,WIFI_SECURITY_NOT_SUPPORTED = 15
AP_2GHZ_SECURITY_MODE = 4

#WEP Key of the access point
AP_2GHZ_WEP_KEY = wepkey

#Details of a new access point
#WIFI 2GHZ SSID NAME
SSID_2GHZ_NAME_NEW = newssidname

#WIFI 2GHZ SSID password
SSID_2GHZ_PWD_NEW = newpwd

#Pre-shared key of the access point
AP_2GHZ_PRESHARED_KEY_NEW = newpresharedkey

#Key passphrase of the access point
AP_2GHZ_KEY_PASSPHRASE_NEW = newpassphrase

#Security mode of the accesspoint
#WIFI_SECURITY_NONE = 0,WIFI_SECURITY_WEP_64 = 1,WIFI_SECURITY_WEP_128 = 2,WIFI_SECURITY_WPA_PSK_TKIP = 3,WIFI_SECURITY_WPA_PSK_AES = 4,WIFI_SECURITY_WPA2_PSK_TKIP = 5,WIFI_SECURITY_WPA2_PSK_AES = 6,WIFI_SECURITY_WPA_ENTERPRISE_TKIP = 7,WIFI_SECURITY_WPA_ENTERPRISE_AES = 8,WIFI_SECURITY_WPA2_ENTERPRISE_TKIP = 9,WIFI_SECURITY_WPA2_ENTERPRISE_AES = 10,WIFI_SECURITY_WPA_WPA2_PSK = 11,WIFI_SECURITY_WPA_WPA2_ENTERPRISE = 12,WIFI_SECURITY_NOT_SUPPORTED = 15
AP_2GHZ_SECURITY_MODE_NEW = 3

#WEP Key of the access point
AP_2GHZ_WEP_KEY_NEW = wepkeynew


################################# 5GHZ WIFI DETAILS ######################################

#Unique WIFI 5GHZ SSID Name
SSID_5GHZ_NAME = WIFI-5

#WIFI 5GHZ SSID password
SSID_5GHZ_PWD = wifitest123

#WIFI 5GHZ SSID Invalid password
SSID_5GHZ_INVALID_PWD = mywifipassword

#TDK WIFI 5GHZ SSID index. Index will be 2 for TDK and 10101 for WEBPA
TDK_SSID_5GHZ_INDEX = 2

#TDK WIFI 5GHZ Radio index. Index will be 2 for TDK and 10100 for WEBPA
TDK_RADIO_5GHZ_INDEX = 2

#WIFI connection status log. wlan1 should be replaced by your wifi interface name
WLAN_5GHZ_SSID_CONNECT_STATUS = Device 'wlan1' successfully activated

#WIFI disconnection status log. wlan1 should be replaced by your wifi interface name
WLAN_5GHZ_SSID_DISCONNECT_STATUS = Device 'wlan1' successfully disconnected

#Pre-shared key of the access point
AP_5GHZ_PRESHARED_KEY = factor3079event

#Key passphrase of the access point
AP_5GHZ_KEY_PASSPHRASE = factor3079event

#Security mode of the accesspoint
#WIFI_SECURITY_NONE = 0,WIFI_SECURITY_WEP_64 = 1,WIFI_SECURITY_WEP_128 = 2,WIFI_SECURITY_WPA_PSK_TKIP = 3,WIFI_SECURITY_WPA_PSK_AES = 4,WIFI_SECURITY_WPA2_PSK_TKIP = 5,WIFI_SECURITY_WPA2_PSK_AES = 6,WIFI_SECURITY_WPA_ENTERPRISE_TKIP = 7,WIFI_SECURITY_WPA_ENTERPRISE_AES = 8,WIFI_SECURITY_WPA2_ENTERPRISE_TKIP = 9,WIFI_SECURITY_WPA2_ENTERPRISE_AES = 10,WIFI_SECURITY_WPA_WPA2_PSK = 11,WIFI_SECURITY_WPA_WPA2_ENTERPRISE = 12,WIFI_SECURITY_NOT_SUPPORTED = 15
AP_5GHZ_SECURITY_MODE = 4

#WEP Key of the access point
AP_5GHZ_WEP_KEY = wepkey

#Details of a new access point
#WIFI 5GHZ SSID NAME
SSID_5GHZ_NAME_NEW = newssidname

#WIFI 5GHZ SSID password
SSID_5GHZ_PWD_NEW = newpwd

#Pre-shared key of the access point
AP_5GHZ_PRESHARED_KEY_NEW = newpresharedkey

#Key passphrase of the access point
AP_5GHZ_KEY_PASSPHRASE_NEW = newpassphrase

#Security mode of the accesspoint
#WIFI_SECURITY_NONE = 0,WIFI_SECURITY_WEP_64 = 1,WIFI_SECURITY_WEP_128 = 2,WIFI_SECURITY_WPA_PSK_TKIP = 3,WIFI_SECURITY_WPA_PSK_AES = 4,WIFI_SECURITY_WPA2_PSK_TKIP = 5,WIFI_SECURITY_WPA2_PSK_AES = 6,WIFI_SECURITY_WPA_ENTERPRISE_TKIP = 7,WIFI_SECURITY_WPA_ENTERPRISE_AES = 8,WIFI_SECURITY_WPA2_ENTERPRISE_TKIP = 9,WIFI_SECURITY_WPA2_ENTERPRISE_AES = 10,WIFI_SECURITY_WPA_WPA2_PSK = 11,WIFI_SECURITY_WPA_WPA2_ENTERPRISE = 12,WIFI_SECURITY_NOT_SUPPORTED = 15
AP_5GHZ_SECURITY_MODE_NEW = 3

#WEP Key of the access point
AP_5GHZ_WEP_KEY_NEW = wepkeynew

#WiFi Interface name
WIFI_INTERFACE = wlan0

############################### Invalid test SSID ##########################################

SSID_INVALID_NAME = TEST_SSID

SSID_INVALID_PWD = rdk@123


