##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2020 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

# By default framework refers [device.config] only for both
# deviceName and deviceType config files
# In future, different sections can be added based on need

# IF A CONFIG KEY TAKES MORE THAN ONE VALUE, IT CAN BE GIVEN AS COMMA SEPERATED VALUES
# Eg. MODULE_SUPPORTED_VALUES = 10,20,30

[device.config]

# Below are the configurations for RDKServices API testing

# Test method configurations
EXEC_METHOD = CURL

# Common configurations
STRESS_TEST_REPEAT_COUNT = 10

# Controller plugin configurations
SUPPORTED_PLUGINS =  org.rdk.ActivityMonitor,org.rdk.Bluetooth,Cobalt,org.rdk.DisplaySettings,org.rdk.DeviceDiagnostics,DeviceInfo,org.rdk.FrameRate,org.rdk.HdcpProfile,LocationSync,org.rdk.LoggingPreferences,Messenger,org.rdk.Network,org.rdk.RDKShell,org.rdk.ScreenCapture,com.comcast.StateObserver,org.rdk.System,org.rdk.Timer,TraceControl,org.rdk.UserPreferences,org.rdk.Warehouse,WebKitBrowser,org.rdk.Wifi 

# Network Plugin configurations
PING_IP =  <TM IP>
TRACE_IP = <TM IP>

# Tracecontrol Plugin configurations
CORE_PLUGIN_CATEGORY = Error,Information
WEBKIT_PLUGIN_CATEGORY = Information,Error,HTML5Notification
TRACECONTROL_NOT_APPLICABLE_PLUGINS = OCDM


# System Plugin configurations
SYSTEM_RFC_PARAMS = Device.DeviceInfo.MemoryStatus.Total,Device.DeviceInfo.MemoryStatus.Free
SYSTEM_PROP_CHANNEL_MAP = com.comcast.channel_map
SYSTEM_DEVICE_PARAMS = estb_mac
# Basic system features can be provided here, eg. If device supports core temp threshold change, add TempThresholdChange.
# SYSTEM_DEVICE_FEATURES = TempThresholdChange
SYSTEM_DEVICE_FEATURES =

# Cobalt Plugin configurations
# Plugins to be de-activated before starting cobalt tests
COBALT_PREREQ_DEACTIVATE_PLUGINS = WebKitBrowser
COBALT_PLAYBACK_URL =

# Webkit Browser Plugin configurations
# Plugins to be de-activated before starting webkit tests
WEBKIT_PREREQ_DEACTIVATE_PLUGINS = Cobalt
WEBKIT_EXPECTED_FPS = 30
WEBKIT_TEST_URL =
WEBKIT_TEST_URL_1 =
WEBKIT_TEST_INVALID_URL = https://www.tdk-page-test.com/
WEBKIT_PLAYBACK_URL =

# RDK Shell Plugin configurations
# Plugins to be used as clients for rdk shell testing
RDKSHELL_PREREQ_PLUGINS = Cobalt,WebKitBrowser
RDKSHELL_WEBKIT_LAUNCH_URL = 

# Display Settings Plugin configurations
SETTOP_SUPPORTED_RESOLUTIONS = 480p,576p50,720p,720p50,1080i,1080p,1080i50,1080p50,1080p24,1080p25,1080p30
SUPPORTED_VIDEO_DISPLAYS = HDMI0
SUPPORTED_AUDIO_PORTS = HDMI0,SPDIF0
HDR_SUPPORT = FALSE
ZOOM_SETTINGS = FULL,NONE
DEVICE_REPEATER = FALSE
DISPLAYSETTINGS_SUPPORTED_FEATURES =
CONNECTED_AUDIO_PORTS = 

# Device Diagnostics Plugin configurations
DEVICE_DIAGNOSTICS_RFC_PARAMS = Device.DeviceInfo.MemoryStatus.Total,Device.DeviceInfo.MemoryStatus.Free

# FrontPanel Plugin configurations
#FRONTPANEL_SUPPORTED_LEDS = power_led,data_led,record_led
FRONTPANEL_SUPPORTED_LEDS =

# Warehouse Plugin test applicability configurations
WAREHOUSE_NA_TESTS = frontpanel,reset

# FrameRate Plugin configurations
# Plugins to be used for framerate testing
FRAMERATE_PREREQ_PLUGINS = WebKitBrowser

# Wifi Plugin configurations
WIFI_SSID_NAME =
WIFI_PASSPHRASE =
WIFI_SECURITY_MODE = 
WIFI_INVALID_PASSPHRASE =
WIFI_INVALID_SSID_NAME = 

# StateObserver Plugin configurations
STATEOBSERVER_INPUT_PROPERTIES = com.comcast.channel_map
STATEOBSERVER_TUNE_READY_PROPERTY = com.comcast.tune_ready
STATEOBSERVER_CHANNEL_MAP_PROPERTY = com.comcast.channel_map 

# ScreenCapture Plugin configurations
SC_UPLOAD_URL =
SC_INVALID_UPLOAD_URL =

# Bluetooth  Plugin test applicability configurations ('yes' if Bluetooth emulator support is available 'no' otherwise)
BT_EMULATOR_SUPPORT = 

#Bluetooth emulator credentials (( Need to update only if BT_EMULATOR_SUPPORT = yes )
BT_EMU_IP = 
BT_EMU_USER_NAME = 
BT_EMU_PWD = 
BT_EMU_DEVICE_NAME = 


# Below are the configurations for Performance and Stability testing

# Browser performance threshold values
CSS3_THRESHOLD_VALUE = 50
OCTANE_THRESHOLD_VALUE = 500
HTML5_THRESHOLD_VALUE = 300
SUNSPIDER_THRESHOLD_VALUE = 4000

#Functional performance threshold values
URL_LOADTIME_THRESHOLD_VALUE = 1500
IF_UPTIME_THRESHOLD_VALUE = 100000 
UI_LAUNCH_TIME_THRESHOLD_VALUE = 200000
CHANNEL_CHANGE_TIME_THRESHOLD_VALUE = 1500
ACTIVATE_TIME_THRESHOLD_VALUE = 500
DEACTIVATE_TIME_THRESHOLD_VALUE = 100
SUSPEND_TIME_THRESHOLD_VALUE = 200
RESUME_TIME_THRESHOLD_VALUE = 1500

#App performance threshold values
APP_LAUNCH_THRESHOLD VALUE = 3000
PAUSE_TIME_THRESHOLD_VALUE = 50
PLAY_TIME_THRESHOLD_VALUE = 250


# Below are the configurations for Media Validation Tests
# Minimum expected FPS value
EXPECTED_FPS =
# Threshold level for FPS value. If EXPECTED_FPS = 30 & FPS_THRESHOLD = 5, then 25(30-5) will be the minfps required
FPS_THRESHOLD =


# Below are the general configurations that can be used for all the above testing

########## SSH configuration ###########
#give directSSH for normal ssh(for reference platform devices)
SSH_METHOD = 
SSH_USERNAME = 
#give None if password is empty
SSH_PASSWORD = 
########################################

# If video validation with ssh to box is required give YES otherwise give NO
VALIDATION_REQ = NO
# If file from /proc/ is to be validated for video, give proc_entry
VALIDATION_METHOD =

# Path to the file which will be used for video validation. eg: /proc/<path_to_file> or /opt/<path_to_file>
VIDEO_PROC_FILE =
# Give the threshold CDB value, if it is 70% give 70
MIN_CDB =




