##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2022 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

[device.config]


#=========================================================================
# RDKServices CI Execution Configuration File
#
# The test cases can be configured using test case IDs in below format
# <PluginName>Plugin_TestCases = ID_01,ID_02,ID_03
#
# Only the configured test cases gets executed when corresponding plugin
# test script is executed from TM. If test cases are not configured for a
# plugin, then during CI, all the plugin tests gets executed by default.
#
# a. User can add/remove configuration parameter for any rdkservice plugin
# b. User can add/remove test case IDs for any rdkservice plugin
#=========================================================================

# Sample Configurations
# System Plugin tests for CI
# SystemPlugin_TestCases = SYS_01,SYS_02,SYS_03


