##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2020 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

[device.config]

#=========================================================================
# This is device specific configuration file. Ensure that all required
# variables are updated with proper values before executing the scripts.
#
#
# * User should configure all the common configuration variables.
# * User can decide the variables to be configured according to the suite.
# * All the variables listed under each suite must be updated for executing
# that suite.
# * Few variables from one suite are required for other suites also.
#
# If a config key takes more than one value, it can be given as comma separated values
# Eg. MODULE_SUPPORTED_VALUES = 10,20,30
# ========================================================================

#=========================================================================
#TABLE OF CONTENTS
#=========================================================================

#=========================================================================
#
#1. Common Configurations
#       Must Configure:
#       -> All the variables listed under Common configurations section
#
#2. Suite Specific Configurations
#       Must Configure:
#       2.1 AVS
#               -> All the variables listed under AVS section
#
#       2.2 MVS
#               -> All the variables listed under MVS section
#               -> Below variable from AVS section
#                       * SC_UPLOAD_URL
#
#       2.3 PVS - Browser
#               -> All the variables listed under PVS - Browser section
#
#       2.4 PVS - Functional
#               -> All the variables listed under PVS - Functional section
#               -> Below variables from AVS section
#                       * WIFI_SSID_NAME
#                       * WIFI_PASSPHRASE
#                       * WIFI_SECURITY_MODE
#                       * WIFI_SSID_NAME_5GHZ
#                       * WIFI_PASSPHRASE_5GHZ
#                       * WIFI_SECURITY_MODE_5GHZ
#                       * DEVICE_IP_ADDRESS_TYPE
#                       * BT_EMU_IP
#                       * BT_EMU_USER_NAME
#                       * BT_EMU_PWD
#                       * BT_EMU_DEVICE_NAME
#               -> Below variables from MVS section
#                       * VALIDATION_REQ
#                       * VIDEO_VALIDATION_SCRIPT_FILE
#
#       2.5 PVS - Apps
#               -> All the variables listed under PVS - Apps section
#               -> Below variables from AVS section
#                       * WIFI_SSID_NAME
#                       * WIFI_PASSPHRASE
#                       * WIFI_SECURITY_MODE
#                       * DEVICE_IP_ADDRESS_TYPE
#               -> Below variables from MVS section
#                       * VALIDATION_REQ
#                       * VIDEO_VALIDATION_SCRIPT_FILE
#
#       2.6 PACS
#               -> All the variables listed under PACS section
#               -> Below variables from AVS section
#                       * WIFI_SSID_NAME
#                       * WIFI_PASSPHRASE
#                       * WIFI_SECURITY_MODE
#                       * WIFI_SSID_NAME_5GHZ
#                       * WIFI_PASSPHRASE_5GHZ
#                       * WIFI_SECURITY_MODE_5GHZ
#                       * DEVICE_IP_ADDRESS_TYPE
#               -> Below variables from MVS section
#                       * VALIDATION_REQ
#                       * VIDEO_VALIDATION_SCRIPT_FILE
#
#       2.7 SVS
#               -> All the variables listed under SVS section
#               -> Below variables from AVS section
#                       * WIFI_SSID_NAME
#                       * WIFI_PASSPHRASE
#                       * WIFI_SECURITY_MODE
#                       * PREFERRED_NETWORK_PARAMETER
#
#       2.8 RVS
#               -> All the variables listed under RVS section
#               -> Below variables from AVS section
#                       * SUPPORTED_PLUGINS
#                       * SC_UPLOAD_URL
#                       * BT_EMU_IP
#                       * BT_EMU_USER_NAME
#                       * BT_EMU_PWD
#                       * BT_EMU_DEVICE_NAME
#			* WIFI_SSID_NAME
#                       * WIFI_PASSPHRASE
#                       * WIFI_SECURITY_MODE
#                       * WIFI_SSID_NAME_5GHZ
#                       * WIFI_PASSPHRASE_5GHZ
#                       * WIFI_SECURITY_MODE_5GHZ
#                       * DEVICE_IP_ADDRESS_TYPE
#               -> Below variables from MVS section
#                       * VALIDATION_REQ
#                       * VIDEO_VALIDATION_SCRIPT_FILE 
#                       * EXPECTED_FPS
#                       * FPS_THRESHOLD
#
#       2.9 FCS
#               -> All the variables listed under Firebolt Compliance Suite section
#
#       3. RDKV Profiling
#               -> All the variables listed under RDKV Profiling section
#               -> Below variables from MVS section
#                       * VALIDATION_REQ
#                       * VIDEO_VALIDATION_SCRIPT_FILE
#
#=========================================================================


#=========================================================================
# 1. Common Configurations
#=========================================================================

# Test method configurations
EXEC_METHOD = CURL

#If validation with ssh to the device is needed enter YES otherwise NO
SSH_VALIDATION =

#Give directSSH for normal ssh(for reference platform devices)
SSH_METHOD =
SSH_USERNAME =

#Give None if password is empty
SSH_PASSWORD =

#Maximum response time for a curl command execution in DUT
MAX_RESPONSE_TIME = 


#=========================================================================
# 2. Suite Configurations
#=========================================================================


#*************************************************************************
#                         2.1 AVS
#*************************************************************************

#Repeat count for activate/deactivate stress test of each plugins
STRESS_TEST_REPEAT_COUNT =

#Add/remove the plugins which are supported/not supported in the device under test
SUPPORTED_PLUGINS =  org.rdk.Bluetooth,Cobalt,org.rdk.dataCapture,org.rdk.DisplaySettings,org.rdk.DeviceDiagnostics,DeviceInfo,org.rdk.FrameRate,org.rdk.HdcpProfile,LocationSync,org.rdk.LoggingPreferences,Messenger,org.rdk.Network,OCDM,org.rdk.RDKShell,org.rdk.ScreenCapture,org.rdk.System,org.rdk.Timer,TraceControl,org.rdk.UserPreferences,org.rdk.Warehouse,WebKitBrowser,org.rdk.Wifi

# Add the corresponding width(horizontal resolution) and height(vertical resolution) for all the supported resolution of the DUT in the format (Resolution:[Width|Height])
RESOLUTION_WIDTH_HEIGHT_MAPPING = 480i:[720|480],480p:[720|480],480i60:[720|480],480p60:[720|480],576p50:[720|576],720p:[1280|720],720p50:[1280|720],720p60:[1280|720],1080p:[1920|1080],1080p24:[1920|1080],1080i:[1920|1080],1080p50:[1920|1080],1080p30:[1920|1080],1080p60:[1920|1080],1080i50:[1920|1080],1080i60:[1920|1080],2160p30:[3840|2160],2160p60:[3840|2160]

##CONTROLLER PLUGIN

#Add  the environment variables defined in /lib/systemd/system/wpeframework.service file
CONTROLLER_ENVIRONMENT_VARIABLES =

#Add the supported features in device. If device supports NetworkDiscovery, add NetworkDiscovery
CONTROLLER_SUPPORTED_FEATURES =

#Provide the path to delete the file. Eg: /opt/persistent/rdkservices/
CONTROLLER_FILE_DELETE_PATH =

#Add the WPE processes to check the status
WPE_PROCESSES_LIST = WPEFramework,WPENetworkProcess,WPEWebProcess,WPEProcess:TextToSpeech,WPEProcess:ResidentApp

## NETWORK PLUGIN

#Give an IP address which is accessible from Device under test.
PING_IP =
TRACE_IP =

#Provide the custom timeout to ping or trace the particular endpoint
CUSTOM_TIMEOUT_FOR_PING_AND_TRACE =

# If device supports IPSettings, add InterfaceIPSettings
NETWORK_SUPPORTED_FEATURES =

#Maximum 5 endpoints can be configured
CONNECTIVITY_TEST_ENDPOINTS =

#MANUAL_IPSETTINGS_PARAMETER = tr181 -d -s -t boolean -v true Device.DeviceInfo.X_RDKCENTRAL-COM_RFC.Feature.Network.ManualIPSettings.Enable
MANUAL_IPSETTINGS_PARAMETER =

## TRACECONTROL PLUGIN

CORE_PLUGIN_CATEGORY =
WEBKIT_PLUGIN_CATEGORY =
TRACECONTROL_NOT_APPLICABLE_PLUGINS =

## SYSTEM

SYSTEM_RFC_PARAMS =
SYSTEM_PROP_CHANNEL_MAP =
SYSTEM_DEVICE_PARAMS =

# Basic system features can be provided here, eg. If device supports core temp threshold change, add TemperatureThreshold.
# SYSTEM_DEVICE_FEATURES = TemperatureThreshold,DeepSleep
SYSTEM_DEVICE_FEATURES =

# Firmware upgrade using XCONF server test applicability configurations ('yes' if XCONF server set-up is available 'no' otherwise)
XCONF_SERVER_SUPPORT =
#Need to update only if XCONF_SERVER_SUPPORT = yes
FIRMWARE_DOWNLOAD_PROTOCOL =
FIRMWARE_FILENAME =
EXISTING_FIRMWARE_FILENAME =
FIRMWARE_LOCATION =
XCONF_SERVER_URL =
FIRMWARE_VERSION =

## COBALT

# Plugins to be de-activated before starting cobalt tests.
COBALT_PREREQ_DEACTIVATE_PLUGINS =

#Give the link to a youtube video for video playback testing
COBALT_PLAYBACK_URL =

## WEBKITBROWSER

# Plugins to be de-activated before starting webkit tests
WEBKIT_PREREQ_DEACTIVATE_PLUGINS =

WEBKIT_EXPECTED_FPS =
WEBKIT_TEST_URL =
WEBKIT_TEST_URL_1 =
WEBKIT_TEST_INVALID_URL = https://www.tdk-page-test.com/
WEBKIT_PLAYBACK_URL =
WEBKIT_GRAPHICS_URL = 
WEBKIT_FPS_REPEAT_COUNT =
WEBKIT_THRESHOLD_FPS =

## RDK SHELL

# Plugins to be used as clients for rdk shell testing
RDKSHELL_PREREQ_PLUGINS =
RDKSHELL_WEBKIT_LAUNCH_URL =
RDKSHELL_SUPPORTED_FEATURES =
#Give the list of processes that can be ignored while checking the zorder
RDKSHELL_EXCLUDED_PROCESS_LIST =

## DISPLAY SETTINGS

SETTOP_SUPPORTED_RESOLUTIONS =
SUPPORTED_VIDEO_DISPLAYS =
SUPPORTED_AUDIO_PORTS =
HDR_SUPPORT =
ZOOM_SETTINGS =
DEVICE_REPEATER =
DISPLAYSETTINGS_SUPPORTED_FEATURES =
CONNECTED_AUDIO_PORTS =
#SETTOP_SUPPORTED_AUDIO_CAPABILITIES = ATMOS,DOLBY DIGITAL,DOLBY DIGITAL PLUS,Dual Audio Decode,DAPv2,MS12
SETTOP_SUPPORTED_AUDIO_CAPABILITIES =
#SETTOP_SUPPORTED_MS12_CAPABILITIES = Dolby Volume,Inteligent Equalizer,Dialogue Enhancer
SETTOP_SUPPORTED_MS12_CAPABILITIES =
#Give 'yes' if DUT supports persistence of audio delay offset, 'no' otherwise
AUDIO_DELAY_OFFSET_PERSISTENCE =

## DEVICE DIAGNOSTICS

DEVICE_DIAGNOSTICS_RFC_PARAMS =

## FRONT PANEL

FRONTPANEL_SUPPORTED_LEDS =

## WAREHOUSE

#WAREHOUSE_NA_TESTS = frontpanel,reset
WAREHOUSE_NA_TESTS =

# Configure 'enable' if RF4CE MAC applicable for device ,otherwise 'disable'
RF4CE_MAC =

## FIRMWARECONTROL

FWC_FIRMWARE_NAME =
FWC_FIRMWARE_VERSION =
FWC_FIRMWARE_LOCATION =
FWC_FIRMWARE_TYPE =
FWC_PROGRESS_INTERVAL =
FWC_FIRMWARE_HMAC =
FWC_EXISTING_FIRMWARE_NAME =
FWC_EXISTING_FIRMWARE_HMAC =

## FRAMERATE

# Plugins to be used for framerate testing
FRAMERATE_PREREQ_PLUGINS =

## WIFI

WIFI_SSID_NAME =
WIFI_PASSPHRASE =
WIFI_SECURITY_MODE =
WIFI_INVALID_PASSPHRASE =
WIFI_INVALID_SSID_NAME =

# 5GHZ SSID Details
WIFI_SSID_NAME_5GHZ =
WIFI_PASSPHRASE_5GHZ =
WIFI_SECURITY_MODE_5GHZ =

# Add the supported features in device. eg. if device supports on retrieving the PairedSSId Info, add PairedSSIDInfo
# WIFI_SUPPORTED_FEATURES = PairedSSIDInfo
WIFI_SUPPORTED_FEATURES =

#PREFERRED_NETWORK_PARAMETER = tr181 -d -s -v true Device.DeviceInfo.X_RDKCENTRAL-COM_RFC.Feature.PreferredNetworkInterface.Enable
PREFERRED_NETWORK_PARAMETER =

#IP address type by which device is configured in Test Manager, give either ipv4 or ipv6
DEVICE_IP_ADDRESS_TYPE =

## STATEOBSERVER

STATEOBSERVER_INPUT_PROPERTIES =
STATEOBSERVER_TUNE_READY_PROPERTY =
STATEOBSERVER_CHANNEL_MAP_PROPERTY =

## DATA CAPTURE

#Plugins to be used as clients for data capture testing
DATACAPTURE_PREREQ_PLUGIN =

BUFFER_MAX_DURATION =
DATACAPTURE_UPLOAD_URL =

## SCREENCAPTURE

SC_UPLOAD_URL =
SC_INVALID_UPLOAD_URL = http://invalid-server/cgi-bin/upload.cgi

## BLUETOOTHCONTROL

# Bluetooth  Plugin test applicability configurations ('yes' if Bluetooth emulator support is available, 'no' otherwise)
BT_EMULATOR_SUPPORT =

#Bluetooth emulator credentials ( Need to update only if BT_EMULATOR_SUPPORT = yes )
BT_EMU_IP =
BT_EMU_USER_NAME =
BT_EMU_PWD =
BT_EMU_DEVICE_NAME =

## HDMICEC

#format: Logical_address,Device_type
HDMICEC_LOGICAL_ADDR_INFO =

## AVINPUT
AVINPUT_NUMBER_OF_INPUTS =

## MONITOR

# Plugins to be used for monitor testing
MONITOR_PREREQ_PLUGINS =

## DISPLAYINFO
DISPLAYINFO_EDID_DATA_LENGTH =

## PLAYERINFO
#SUPPORTED_AUDIO_CODECS = AudioMpeg1,AudioMpeg3,AudioMpeg2,AudioMpeg4,AudioAac,AudioAc3,AudioAc3Plus,AudioOpus,AudioVorbisOgg
SUPPORTED_AUDIO_CODECS =
#SUPPORTED_VIDEO_CODECS = VideoMpeg,VideoH263,VideoH264,VideoH265,VideoVp9
SUPPORTED_VIDEO_CODECS =

## DTV
DVBC_FREQUENCY = 
DVBC_SYMBOLRATE = 
DVBC_MODULATION = 
# Specify the dvbc service shortname   
DVBC_SERVICE_SHORTNAME =

#*************************************************************************
#                              2.2 MVS
#*************************************************************************

# Minimum expected FPS value
EXPECTED_FPS =

#Threshold level for FPS value. If EXPECTED_FPS = 30 & FPS_THRESHOLD = 5, then 25(30-5) will be the minfps required
FPS_THRESHOLD =

# For video tests, url can be loaded using videoplayer load API or through hls/dash js lib.
# In some platforms loading dash url directly may cause issues in playback.Give yes to load using dashlib or no/empty to load direclty
LOAD_USING_DASHLIB =

# If video validation with ssh to box is required give YES otherwise give NO
VALIDATION_REQ =

# Give the proc validation mode such as video-only, audio-only , AV
PROC_CHECK_MODE = AV

#Name of the video validation script file, this will be available in device specific TDK repository (eg name: tdk_xyz_check_video_status.py)
VIDEO_VALIDATION_SCRIPT_FILE =



#*************************************************************************
#                        2.3 PVS - Browser
#*************************************************************************

# Browser performance threshold values
CSS3_THRESHOLD_VALUE =
CSS3_SUBCATEGORY_THRESHOLD_VALUES =
OCTANE_THRESHOLD_VALUE =
OCTANE_SUBCATEGORY_THRESHOLD_VALUES =
HTML5_THRESHOLD_VALUE =
HTML5_SUBCATEGORY_THRESHOLD_VALUES =
SUNSPIDER_THRESHOLD_VALUE =
SUNSPIDER_SUBCATEGORY_THRESHOLD_VALUES =
STRIKE_THRESHOLD_VALUE =
ANIMATION_BENCHMARK_THRESHOLD_VALUE =
SPEEDOMETER_THRESHOLD_VALUE = 
MOTIONMARK_THRESHOLD_VALUE =

#*************************************************************************
#                        2.4 PVS - Functional
#*************************************************************************

#Functional performance threshold values
URL_LOADTIME_THRESHOLD_VALUE =
IF_UPTIME_THRESHOLD_VALUE =
UI_LAUNCH_TIME_THRESHOLD_VALUE =
CHANNEL_CHANGE_TIME_THRESHOLD_VALUE =
ACTIVATE_TIME_THRESHOLD_VALUE =
DEACTIVATE_TIME_THRESHOLD_VALUE =
SUSPEND_TIME_THRESHOLD_VALUE =
RESUME_TIME_THRESHOLD_VALUE =
#Time taken to change power state to ON from STANDBY
STANDBY_TO_ON_THRESHOLD_VALUE =
WLAN0_IF_UPTIME_THRESHOLD_VALUE =
MAIN_UI_SWITCH_TIME_THRESHOLD_VALUE =
#Time taken to play video when power state is changed from STANDBY to ON
VIDEOPLAY_FROM_STANDBY_THRESHOLD_VALUE =
#Time taken to move to front the application
MOVETO_FRONT_THRESHOLD_VALUE = 
#Time taken to move to back the application
MOVETO_BACK_THRESHOLD_VALUE =
#Time taken to toggle from WIFI to ETHERNET
WIFI_TO_ETHERNET_THRESHOLD_VALUE = 
#Time taken to toggle from ETHERNET to WIFI
ETHERNET_TO_WIFI_THRESHOLD_VALUE =
MAIN_UI_LAUNCH_TIME_THRESHOLD_VALUE =
ETHERNET_INTERFACE = 
WIFI_INTERFACE = 
WIFI_SCAN_TIME_THRESHOLD_VALUE = 
BLUETOOTH_SCAN_TIME_THRESHOLD_VALUE = 
DEVICE_RESET_TIME_THRESHOLD_VALUE =
WEBKITBROWSER_LAUNCH_AFTER_BOOT_THRESHOLD_VALUE =
HTMLAPP_LAUNCH_THRESHOLD_VALUE =
LIGHTNINGAPP_LAUNCH_THRESHOLD_VALUE =
HTMLAPP_DESTROY_THRESHOLD_VALUE =
LIGHTNINGAPP_DESTROY_THRESHOLD_VALUE =
HTMLAPP_SUSPEND_TIME_THRESHOLD_VALUE =
HTMLAPP_RESUME_TIME_THRESHOLD_VALUE =
LIGHTNINGAPP_SUSPEND_TIME_THRESHOLD_VALUE =
LIGHTNINGAPP_RESUME_TIME_THRESHOLD_VALUE =
GET_WIFI_IPADDRESS_TIME_THRESHOLD_VALUE = 
GET_ETHERNET_IPADDRESS_TIME_THRESHOLD_VALUE = 
COLDBOOT_IDLE_WAIT_TIME = 
REBOOT_WAIT_TIME = 
THRESHOLD_UPTIME = 
COLDBOOT_TIME_THRESHOLD_VALUE = 
RESIDENTAPP_LAUNCH_TIME_THRESHOLD_VALUE = 
AVAILABLE_GRAPHICAL_PLUGINS = Cobalt,WebKitBrowser,LightningApp,ResidentApp,HtmlApp
CHANGE_RESOLUTION_VALUE =
RESOLUTION_CHANGE_THRESHOLD_VALUE = 
SYS_MODECHANGE_THRESHOLD_VALUE = 
TRIPTIME_THRESHOLD_VALUE = 

#Offset value for Threshold
THRESHOLD_OFFSET =

#Main Disk Partition of Device
DISK_PARTITION =



#*************************************************************************
#                          2.5 PVS - Apps
#*************************************************************************

#App performance threshold values
APP_LAUNCH_THRESHOLD_VALUE =
PAUSE_TIME_THRESHOLD_VALUE =
PLAY_TIME_THRESHOLD_VALUE =


#*************************************************************************
#                          2.6 PACS
#*************************************************************************

#Premium App performance threshold values
COBALT_SUSPEND_TIME_THRESHOLD_VALUE =
COBALT_RESUME_TIME_THRESHOLD_VALUE =
COBALT_LAUNCH_THRESHOLD_VALUE =
COBALT_PAUSE_TIME_THRESHOLD_VALUE = 
COBALT_PLAY_TIME_THRESHOLD_VALUE = 
COBALT_LAUNCH_AFTER_BOOT_THRESHOLD_VALUE =
COBALT_PLAY_NEXT_VIDEO_TIME_THRESHOLD_VALUE =
COBALT_DESTROY_THRESHOLD_VALUE =

#*************************************************************************
#                          2.7 SVS
#*************************************************************************

#Expected open ports list
#Configure the ports as list, eg.['22', '5355', '8080']
UDP_PORTS =
TCP_PORTS =

#SSL Certificates Path
CERT_PATH = /etc/ssl/certs

#Expiry Period for SSL Certificate Expiry in Seconds
#If value is 3 months,for 1 month = 2,630,000 seconds.Value can be calculated by multiplying 2,630,000 by 3 (2630000*3 = 7890000)
EXPIRY_PERIOD =

#SSLscan tool  path
SSL_SCAN_PATH =

#Enabled SSL/TLS Protocols
SUPPORTED_SSL_TLS_PROTOCOLS =

#Default SSL/TLS Protocols
DEFAULT_SSL_TLS_PROTOCOLS = SSLv2,SSLv3,TLSv1.0,TLSv1.1,TLSv1.2,TLSv1.3

#TEST_WEB_APP_URL = https://<deviceip>:<port no>
TEST_WEB_APP_URL =

#Add the partition permissions of "tmp" partition
TMP_PARTITION_PERMISSION =

#Add the partition permissions of "shm" partition
SHM_PARTITION_PERMISSION =

#Give "yes" if ssh banner file available otherwise "no"
SSH_BANNER_AVAILABLE =

#Give "yes" if securityfs partition available otherwise "no"
SECURITYFS_PARTITION_AVAILABLE =

#Give "yes" if wifi password saved in encrypted form otherwise "no"
ENCRYPTED_WIFI_PASSWORD_SUPPORT = 

#Specify certificate public key length
SSL_CERTIFICATE_KEY_LENGTH = 

#Give yes if device contains expired certificates, otherwise no
PRESENCE_OF_EXPIRED_CERTIFICATES  =  

#Path of WPA supplicant file in DUT
WPA_SUPPLICANT_FILE_PATH =

#*************************************************************************
#                        2.8 RVS
#*************************************************************************

#Give YES if the device under test supports Screen Capture,otherwise give NO.
SC_VALIDATION_NEEDED =

#Give "Yes" if the device needs to be rebooted before starting execution of each script
PRE_REQ_REBOOT = No

#*************************************************************************
#                        2.9 FCS
#*************************************************************************

#Playback test configurations
#Give yes if AV playback status should be verified on SOC level(eg: by reading /proc entry), otherwise give no
FIREBOLT_COMPLIANCE_CHECK_AV_STATUS =
#Time to wait in seconds for mediaplayback before stopping the pipeline
FIREBOLT_COMPLIANCE_MEDIAPLAYBACK_TIMEOUT =
#Timeout for EOS detection
FIREBOLT_COMPLIANCE_EOS_TIMEOUT =
#Timeout in seconds for extended duration play/pause tests usually eg: 360 seconds
FIREBOLT_COMPLIANCE_EXTENDEDDURATION_TIMEOUT =
#Stream duration/position (in seconds) to which seek operation should be performed
FIREBOLT_COMPLIANCE_SEEK_POSITION =
#Step value for calculating stream duration/position (in seconds) to which seek operation should be performed
#for seek stress scenarios. In each seek iteration, the seek position would be multiples of step value
FIREBOLT_COMPLIANCE_SEEK_STEP =
#Count for number of times to repeat the mediapipeline operations in case of Stress/Multiple-times test cases
FIREBOLT_COMPLIANCE_STRESS_REPEAT_COUNT =
#Timeout for Second Channel for Channel Change Test
FIREBOLT_COMPLIANCE_MEDIAPLAYBACK_SECOND_CHANNEL_TIMEOUT =
#Use AAMP for HLS Playback(yes/no)
FIREBOLT_COMPLIANCE_USE_AAMP_FOR_HLS =
#Latency threshold to crossverify during playback (in milliseconds) (default = 100)
FIREBOLT_COMPLIANCE_PLAYBACK_LATENCY_THRESHOLD =

#*************************************************************************
#                   3. RDKV PROFILING
#*************************************************************************
#Threshold limit for system wide used memory (MB)
PROFILING_SYSTEM_MEMORY_THRESHOLD  = 1024
#Threshold limit for system wide shortterm loadavg (%)
PROFILING_SYSTEM_LOAD_THRESHOLD = 10
#Threshold limit for system wide cpu (%)
PROFILING_SYSTEM_CPU_THRESHOLD  = 90

#Process wise threshold limits
#Threshold limit for process rss (MB)
#Threshold limit for process cpu (%)
#Threshold limit for process shared memory (KB)

#For WPEWebProcess
PROFILING_PROCESSES_WPEWEBPROCESS_PS_RSS_THRESHOLD = 
PROFILING_PROCESSES_WPEWEBPROCESS_PS_VM_THRESHOLD = 
PROFILING_PROCESSES_WPEWEBPROCESS_USEDCPU_THRESHOLD = 
PROFILING_PROCESSES_WPEWEBPROCESS_USEDSHR_THRESHOLD = 

#For WPEFramework
PROFILING_PROCESSES_WPEFRAMEWORK_PS_RSS_THRESHOLD = 
PROFILING_PROCESSES_WPEFRAMEWORK_PS_VM_THRESHOLD = 
PROFILING_PROCESSES_WPEFRAMEWORK_USEDCPU_THRESHOLD = 
PROFILING_PROCESSES_WPEFRAMEWORK_USEDSHR_THRESHOLD = 

#For WPENetworkProcess
PROFILING_PROCESSES_WPENETWORKPROCESS_PS_RSS_THRESHOLD = 
PROFILING_PROCESSES_WPENETWORKPROCESS_PS_VM_THRESHOLD = 
PROFILING_PROCESSES_WPENETWORKPROCESS_USEDCPU_THRESHOLD = 
PROFILING_PROCESSES_WPENETWORKPROCESS_USEDSHR_THRESHOLD = 

#For Cobalt
PROFILING_PROCESSES_COBALT_PS_RSS_THRESHOLD = 
PROFILING_PROCESSES_COBALT_PS_VM_THRESHOLD = 
PROFILING_PROCESSES_COBALT_USEDCPU_THRESHOLD = 
PROFILING_PROCESSES_COBALT_USEDSHR_THRESHOLD = 

#For tr69hostif
PROFILING_PROCESSES_TR69HOSTIF_PS_RSS_THRESHOLD =
PROFILING_PROCESSES_TR69HOSTIF_PS_VM_THRESHOLD =
PROFILING_PROCESSES_TR69HOSTIF_USEDCPU_THRESHOLD =
PROFILING_PROCESSES_TR69HOSTIF_USEDSHR_THRESHOLD =

#SMEM support in the DUT. YES or NO
PROFILING_SMEM_SUPPORT =

#PMAP support in the DUT. YES or NO
PROFILING_PMAP_SUPPORT =

#SYSTEMD ANALYZE support in the DUT. YES or NO
PROFILING_SYSTEMD_ANALYZE_SUPPORT =

#SYSTEMD BOOTCHART support in the DUT. YES or NO
PROFILING_SYSTEMD_BOOTCHART_SUPPORT =

#LMBENCH support in the DUT. YES or NO
PROFILING_LMBENCH_SUPPORT =

#Actual and preferred units of the metrics
#CPU
RDKV_PROFILING_ACTUAL_UNIT_CPU = %
RDKV_PROFILING_PREFERRED_UNIT_CPU = %

#MEMORY
RDKV_PROFILING_ACTUAL_UNIT_MEMORY = Bytes
RDKV_PROFILING_PREFERRED_UNIT_MEMORY = MB

#LOAD
RDKV_PROFILING_ACTUAL_UNIT_LOAD = %
RDKV_PROFILING_PREFERRED_UNIT_LOAD = %

#PROCESSES-*
RDKV_PROFILING_ACTUAL_UNIT_PS_RSS = KB
RDKV_PROFILING_PREFERRED_UNIT_PS_RSS = MB
RDKV_PROFILING_ACTUAL_UNIT_PS_VM = KB
RDKV_PROFILING_PREFERRED_UNIT_PS_VM = MB

#EXEC-*
RDKV_PROFILING_ACTUAL_UNIT_USEDCPU = %
RDKV_PROFILING_PREFERRED_UNIT_USEDCPU = %
RDKV_PROFILING_ACTUAL_UNIT_USEDSHR = KB
RDKV_PROFILING_PREFERRED_UNIT_USEDSHR = KB
RDKV_PROFILING_ACTUAL_UNIT_USEDRES = KB
RDKV_PROFILING_PREFERRED_UNIT_USEDRES = KB

#************************************************************************************
#                    4 Hardware Performance Threshold Comparison
#************************************************************************************
#Threshold_Check = TRUE/FALSE
#Note: at present threshold check is set to FALSE, this can be set to TRUE when the benchmark values are defined.

Threshold_Check = FALSE

#Below examples are added to represent the way of configuring threshold values.
#These thresold values are displyed for example purpose, final values will be published soon

#Iozone={"64_64_write":"523127.2667","64_64_rewrite":"1318244.067","64_64_read":"1186313","64_64_reread":"1429780.6","64_64_randomread":"1275876.333","64_64_randomwrite":"1312908.267","64_64_bkwdread":"1254141.333","64_64_recordrewrite":"1354198.2","64_64_strideread":"1421622.667","64_64_fwrite":"1261263.933","64_64_frewrite":"1482795.133","64_64_fread":"1250234.333","64_64_freread":"1460679.333"}
#NBench ={"MEMORY INDEX":"14.6","INTEGER INDEX":"16.8","FLOATING-POINT INDEX":"21.91"}
#sysbench_cpu_metric ={"Total time":"0.23"}
#sysbench_memory_metric ={"Data transfered in second ":"3396.73"}
#TinymemBench ={"standard memcpy":"1500.03 MB/s (11.0%)","standard memset":"3795.83 MB/s (13.0%)"}
#stress-ng_Context_Switching ={"Context Switch Stress in bogo ops/s":"702823.58"}
#stress-ng_CPU_Stress ={"CPU Stress in bogo ops/s":"201.89"}
#stress-ng_Malloc ={"Malloc Stress in bogo ops/s":"1384064.16"}
#stress-ng_Memory_Copying ={"Memcpy Stress in bogo ops/s":"83.93"}

Iozone =
NBench =
sysbench_cpu_metric =
sysbench_memory_metric =
TinymemBench =
stress-ng_Context_Switching =
stress-ng_CPU_Stress =
stress-ng_Malloc =
stress-ng_Memory_Copying =



