##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2020 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

# By default framework refers [device.config] only for both
# deviceName and deviceType config files
# In future, different sections can be added based on need

# IF A CONFIG KEY TAKES MORE THAN ONE VALUE, IT CAN BE GIVEN AS COMMA SEPERATED VALUES
# Eg. MODULE_SUPPORTED_VALUES = 10,20,30

[device.config]

# Below are the configurations for RDKServices API testing

# Test method configurations
EXEC_METHOD = CURL

# Common configurations
STRESS_TEST_REPEAT_COUNT = 10

# Controller plugin configurations
# For secure devices include OCDM plugin
SUPPORTED_PLUGINS =  org.rdk.Bluetooth,Cobalt,org.rdk.dataCapture,org.rdk.DisplaySettings,org.rdk.DeviceDiagnostics,DeviceInfo,org.rdk.FrameRate,org.rdk.HdcpProfile,LocationSync,org.rdk.LoggingPreferences,Messenger,org.rdk.Network,org.rdk.RDKShell,org.rdk.ScreenCapture,org.rdk.System,org.rdk.Timer,TraceControl,org.rdk.UserPreferences,org.rdk.Warehouse,WebKitBrowser,org.rdk.Wifi,org.rdk.HdmiCec,org.rdk.FrontPanel,FirmwareControl 
#Add  the environment variables defined in /lib/systemd/system/wpeframework.service file
CONTROLLER_ENVIRONMENT_VARIABLES = 
#Add the supported features in device.If device supports NetworkDiscovery, add NetworkDiscovery
CONTROLLER_SUPPORTED_FEATURES =


# Network Plugin configurations
PING_IP =  <TM IP>
TRACE_IP = <TM IP>
# Add the supported features in device. eg.if device supports IPSettings, add InterfaceIPSettings
# NETWORK_SUPPORTED_FEATURES = InterfaceIPSettings
NETWORK_SUPPORTED_FEATURES = 
#Maximum 5 endpoints can be configured
CONNECTIVITY_TEST_ENDPOINTS = 
#MANUAL_IPSETTINGS_PARAMETER = tr181 -d -s -t boolean -v true Device.DeviceInfo.X_RDKCENTRAL-COM_RFC.Feature.Network.ManualIPSettings.Enable
MANUAL_IPSETTINGS_PARAMETER =

# Tracecontrol Plugin configurations
CORE_PLUGIN_CATEGORY = Error,Information
WEBKIT_PLUGIN_CATEGORY = Information,Error,HTML5Notification
TRACECONTROL_NOT_APPLICABLE_PLUGINS =


# System Plugin configurations
SYSTEM_RFC_PARAMS = Device.DeviceInfo.MemoryStatus.Total,Device.DeviceInfo.MemoryStatus.Free
SYSTEM_PROP_CHANNEL_MAP = com.comcast.channel_map
SYSTEM_DEVICE_PARAMS = estb_mac
# Basic system features can be provided here, eg. If device supports core temp threshold change, add TempThresholdChange.
# SYSTEM_DEVICE_FEATURES = TempThresholdChange
SYSTEM_DEVICE_FEATURES =

# Cobalt Plugin configurations
# Plugins to be de-activated before starting cobalt tests
COBALT_PREREQ_DEACTIVATE_PLUGINS = WebKitBrowser
COBALT_PLAYBACK_URL =

# Webkit Browser Plugin configurations
# Plugins to be de-activated before starting webkit tests
WEBKIT_PREREQ_DEACTIVATE_PLUGINS = Cobalt
WEBKIT_EXPECTED_FPS = 30
WEBKIT_TEST_URL =
WEBKIT_TEST_URL_1 =
WEBKIT_TEST_INVALID_URL = https://www.tdk-page-test.com/
WEBKIT_PLAYBACK_URL =
WEBKIT_FPS_REPEAT_COUNT = 
WEBKIT_THRESHOLD_FPS =

# RDK Shell Plugin configurations
# Plugins to be used as clients for rdk shell testing
RDKSHELL_PREREQ_PLUGINS = Cobalt,WebKitBrowser
RDKSHELL_WEBKIT_LAUNCH_URL = 

# Display Settings Plugin configurations
#SETTOP_SUPPORTED_RESOLUTIONS = 480p,576p50,720p,720p50,1080i,1080p,1080i50,1080p50,1080p24,1080p25,1080p30
SETTOP_SUPPORTED_RESOLUTIONS = 
#SUPPORTED_VIDEO_DISPLAYS = HDMI0
SUPPORTED_VIDEO_DISPLAYS = 
#SUPPORTED_AUDIO_PORTS = HDMI0,SPDIF0
SUPPORTED_AUDIO_PORTS = 
#HDR_SUPPORT = TRUE/FALSE
HDR_SUPPORT = 
#ZOOM_SETTINGS = FULL,NONE
ZOOM_SETTINGS = 
#DEVICE_REPEATER = TRUE/FALSE
DEVICE_REPEATER = 
#DISPLAYSETTINGS_SUPPORTED_FEATURES = AudioCompression,DolbyVolume,DialogEnhancement,IntelligentEqualizer
DISPLAYSETTINGS_SUPPORTED_FEATURES = 
#CONNECTED_AUDIO_PORTS = HDMI0,SPDIF0
CONNECTED_AUDIO_PORTS = 

# Device Diagnostics Plugin configurations
DEVICE_DIAGNOSTICS_RFC_PARAMS = Device.DeviceInfo.MemoryStatus.Total,Device.DeviceInfo.MemoryStatus.Free

# FrontPanel Plugin configurations
#FRONTPANEL_SUPPORTED_LEDS = power_led,data_led,record_led
FRONTPANEL_SUPPORTED_LEDS =

# Warehouse Plugin test applicability configurations
WAREHOUSE_NA_TESTS = reset
# Configure 'enable' if RF4CE MAC applicable for device ,otherwise 'disable'
RF4CE_MAC =


#FirmwareControl Plugim configurations
FWC_FIRMWARE_NAME =
FWC_FIRMWARE_VERSION =
FWC_FIRMWARE_LOCATION =
FWC_FIRMWARE_TYPE =
FWC_PROGRESS_INTERVAL =
FWC_FIRMWARE_HMAC =

# FrameRate Plugin configurations
# Plugins to be used for framerate testing
FRAMERATE_PREREQ_PLUGINS = WebKitBrowser

# Wifi Plugin configurations
WIFI_SSID_NAME =
WIFI_PASSPHRASE =
WIFI_SECURITY_MODE = 
WIFI_INVALID_PASSPHRASE =
WIFI_INVALID_SSID_NAME = 
# Add the supported features in device. eg. if device supports on retrieving the PairedSSId Info, add PairedSSIDInfo
# WIFI_SUPPORTED_FEATURES = PairedSSIDInfo
WIFI_SUPPORTED_FEATURES =
#PREFERRED_NETWORK_PARAMETER = tr181 -d -s -v true Device.DeviceInfo.X_RDKCENTRAL-COM_RFC.Feature.PreferredNetworkInterface.Enable
PREFERRED_NETWORK_PARAMETER =


# StateObserver Plugin configurations
STATEOBSERVER_INPUT_PROPERTIES = com.comcast.channel_map
STATEOBSERVER_TUNE_READY_PROPERTY = com.comcast.tune_ready
STATEOBSERVER_CHANNEL_MAP_PROPERTY = com.comcast.channel_map 


# Data Capture Plugin configurations
# Plugins to be used as clients for data capture testing
DATACAPTURE_PREREQ_PLUGIN = WebKitBrowser
BUFFER_MAX_DURATION = 15
DATACAPTURE_UPLOAD_URL = 

# ScreenCapture Plugin configurations
SC_UPLOAD_URL =
SC_INVALID_UPLOAD_URL =

# Bluetooth  Plugin test applicability configurations
BT_EMULATOR_SUPPORT = yes
#Bluetooth emulator credentials( Need to configure below keys only if BT_EMULATOR_SUPPORT value is YES )
BT_EMU_IP =
BT_EMU_USER_NAME =
BT_EMU_PWD =
BT_EMU_DEVICE_NAME =
DEVICE_MAC_ADDRESS =

#HDMICEC Plugin configuration
#format: Logical_address,Device_type
HDMICEC_LOGICAL_ADDR_INFO =

# Monitor Plugin configurations
# Plugins to be used for monitor testing
MONITOR_PREREQ_PLUGINS = WebKitBrowser


# Below are the configurations for Performance and Stability testing

# Browser performance threshold values
CSS3_THRESHOLD_VALUE =
OCTANE_THRESHOLD_VALUE =
HTML5_THRESHOLD_VALUE =
SUNSPIDER_THRESHOLD_VALUE =

#Functional performance threshold values
URL_LOADTIME_THRESHOLD_VALUE = 
IF_UPTIME_THRESHOLD_VALUE = 
UI_LAUNCH_TIME_THRESHOLD_VALUE =
CHANNEL_CHANGE_TIME_THRESHOLD_VALUE =
ACTIVATE_TIME_THRESHOLD_VALUE =
DEACTIVATE_TIME_THRESHOLD_VALUE =
SUSPEND_TIME_THRESHOLD_VALUE =
RESUME_TIME_THRESHOLD_VALUE =
STANDBY_TO_ON_THRESHOLD_VALUE = 
WLAN0_IF_UPTIME_THRESHOLD_VALUE =
MAIN_UI_SWITCH_TIME_THRESHOLD_VALUE =
VIDEOPLAY_FROM_STANDBY_THRESHOLD_VALUE =

#App performance threshold values
APP_LAUNCH_THRESHOLD VALUE =
PAUSE_TIME_THRESHOLD_VALUE =
PLAY_TIME_THRESHOLD_VALUE =

#Premium App performance threshold values
COBALT_SUSPEND_TIME_THRESHOLD_VALUE =
COBALT_RESUME_TIME_THRESHOLD_VALUE =

#Offset value for Threshold
THRESHOLD_OFFSET =

#Main Disk Partition of Device
DISK_PARTITION =

#WiFi tests configuration
#IP address type by which device is configured in Test Manager, give either ipv4 or ipv6
DEVICE_IP_ADDRESS_TYPE =

#If validation with Screen capture plugin is needed enter YES otherwise NO
SC_VALIDATION_NEEDED = YES

#If validation with ssh to the device is needed ente YES otherwise NO
SSH_VALIDATION =


# Below are the configurations for Media Validation Tests
# Minimum expected FPS value
EXPECTED_FPS =
# Threshold level for FPS value. If EXPECTED_FPS = 30 & FPS_THRESHOLD = 5, then 25(30-5) will be the minfps required
FPS_THRESHOLD =
# For video tests, url can be loaded using videoplayer load API or through hls/dash js lib.
# In some platforms loading dash url directly may cause issues in playback.Give yes to load using dashlib or no/empty to load direclty
#LOAD_USING_DASHLIB = yes
LOAD_USING_DASHLIB =

# Below are the general configurations for Security Testing

#Expected open ports list
#Cofigure the ports as list, eg.['22', '5355', '8080']
UDP_PORTS =
TCP_PORTS =
#SSL Certificates Path
CERT_PATH = /etc/ssl/certs
#Expiry Period for SSL Certificate Expiry in Seconds
#Current value is 3 months in seconds,for 1 month = 2,630,000 seconds.Value calculated by multiplying 2,630,000 by 3 (2630000*3 = 7890000)
EXPIRY_PERIOD = 7890000
#SSLscan tool  path
SSL_SCAN_PATH =
#Enabled SSL/TLS Protocols
SUPPORTED_SSL_TLS_PROTOCOLS =
#Default SSL/TLS Protocols
DEFAULT_SSL_TLS_PROTOCOLS = SSLv2,SSLv3,TLSv1.0,TLSv1.1,TLSv1.2,TLSv1.3
#TEST_WEB_APP_URL = https://<deviceip>:<port no>
TEST_WEB_APP_URL =
#Add the partition permissions of "tmp" partition
TMP_PARTITION_PERMISSION =
#Add the partition permissions of "shm" partition
SHM_PARTITION_PERMISSION =
#Give "yes" if ssh banner file available otherwise "no"
SSH_BANNER_AVAILABLE = no
#Give "yes" if securityfs partition available otherwise "no"
SECURITYFS_PARTITION_AVAILABLE = no


# Below are the general configurations that can be used for all the above testing

########## SSH configuration ###########
#give directSSH for normal ssh(for reference platform devices)
SSH_METHOD = 
SSH_USERNAME = 
#give None if password is empty
SSH_PASSWORD = 
########################################

# If video validation with ssh to box is required give YES otherwise give NO
VALIDATION_REQ = 
# If file from /proc/ is to be validated for video, give proc_entry
VALIDATION_METHOD =

# Path to the file which will be used for video validation. eg: /proc/<path_to_file> or /opt/<path_to_file>
VIDEO_PROC_FILE =
# Give the threshold CDB value, if it is 70% give 70
MIN_CDB =
