##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2020 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################

#This section should have your device name. eg: If device name is RPI-RDKC then the below section name and file name needs to be RPI-RDKC.config
[sampleDevice.config]


############################### FILE LOCATIONS ################################
TDK_PATH = /opt/TDK/

########################### NETWORK CONFIGURATIONS ############################
SSID =
PSK =

########################### SELENIUM CONFIGURATIONS ############################
START_SELENIUM_SCRIPT =
START_SELENIUM_SCRIPT_CLIENT =

#hub
HUB_MACHINE_IP =
HUB_LOGFILE =
HUB_SELENIUM_PATH =

#node
NODE_MACHINE_IP =
NODE_USERNAME =
NODE_PASSWORD =
NODE_LOGFILE =
NODE_SELENIUM_PATH =

#webrtc info
ERS_IP =
ERS_PORT =
ROOM_NAME =
STREAM_NAME =

#webrtc demo page info
WEBRTC_DEMO_URL =
UI_CHECK_XPATH =
UI_CHECK_DATA  =
UI_DEBUG_XPATH =


