# ============================================================================
# RDK MANAGEMENT, LLC CONFIDENTIAL AND PROPRIETARY
# ============================================================================
# This file (and its contents) are the intellectual property of RDK Management, LLC.
# It may not be used, copied, distributed or otherwise  disclosed in whole or in
# part without the express written permission of RDK Management, LLC.
# ============================================================================
# Copyright (c) 2018 RDK Management, LLC. All rights reserved.
# ============================================================================
[xupnp-config]

#Give the Number of Clients connected to DUT whose output.json paramters to be fetched
NO_OF_CLIENTS =

#Expects the output.json file path of client
LOG_FILE_CLIENT_1 =

#Give the IP address of the client whose output.json paramters to be fetched
IP_CLIENT_1 =
