##########################################################################
# If not stated otherwise in this file or this component's Licenses.txt
# file the following copyright and licenses apply:
#
# Copyright 2018 RDK Management
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
#
[tdkbtr181Parameters_PAM.config]

#Number of configured namespaces for PAM module
PAM_PARAMETER_COUNT=14

#Configure namespaces, datatype of value,default value and expected range of values, eg : PAM_PARAMETER_1=Device.UserInterface.X_CISCO_COM_RemoteAccess.HttpEnable|bool|true|true;false
#fill the platform specific values for these namespace
PAM_PARAMETER_1=Device.DeviceInfo.ManufacturerOUI|string||
PAM_PARAMETER_2=Device.DeviceInfo.ProductClass|string||
PAM_PARAMETER_3=Device.DeviceInfo.X_RDKCENTRAL-COM_Syndication.TR69CertLocation|string|/etc/cacert.pem|/etc/cacert.pem
PAM_PARAMETER_4=Device.NAT.X_CISCO_COM_PortTriggers.Enable|bool|true|true;false
PAM_PARAMETER_5=Device.DeviceInfo.Manufacturer|string||
PAM_PARAMETER_6=Device.UserInterface.X_CISCO_COM_RemoteAccess.HttpEnable|bool|true|true;false
PAM_PARAMETER_7=Device.UserInterface.X_CISCO_COM_RemoteAccess.HttpPort|uint|8080|8080
PAM_PARAMETER_8=Device.UserInterface.X_CISCO_COM_RemoteAccess.HttpsEnable|bool|false|true;false
PAM_PARAMETER_9=Device.UserInterface.X_CISCO_COM_RemoteAccess.HttpsPort|uint|8181|8181
PAM_PARAMETER_10=Device.UserInterface.X_CISCO_COM_RemoteAccess.TelnetEnable|bool|true|true;false
PAM_PARAMETER_11=Device.UserInterface.X_CISCO_COM_RemoteAccess.TelnetPort|uint|23|23
PAM_PARAMETER_12=Device.UserInterface.X_CISCO_COM_RemoteAccess.SSHEnable|bool|true|true;false
PAM_PARAMETER_13=Device.UserInterface.X_CISCO_COM_RemoteAccess.SSHPort|uint|22|22
PAM_PARAMETER_14=Device.UserInterface.X_CISCO_COM_RemoteAccess.Enable|bool|true|true;false
